main {
  padding-top: 30px; 
}
h2 {
  color: #e9c46a;
  font-size: 3em;
  margin-bottom: 20px;
}
.layout-background {
  background-image: url('/images/forest.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.no-bg {
  background: none;
  min-height: 0;
  padding: 0;
  overflow: hidden;
}


/* Remove overflow */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Space for the actual page content */
.page-content {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
}
.admin-banner {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}
.book-card {
  height: auto !important
};