

.library-container {
  padding: 140px;
  text-align: center;
  color: #eae7dc;
  font-family: 'Cormorant Garamond', serif;
  max-width: 800px;
  margin: 2em auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  height: min(70vh) auto;
}

.library-container h1,h2,h3 {
  color: #e9c46a;
}

.clear-btn {
  background-color: #8c3b2e;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.favorites-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.book-card {
  background-color: #2e4d32;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.book-card button {
  margin-top: 10px;
  background-color: #a3d9a5;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #2e4d32;
}

.btn.small {
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 6px;
  background-color: #a3d9a5;
  border: none;
  cursor: pointer;
  color: #2e4d32;
  transition: background 0.3s;
}

.btn.small:hover {
  background-color: #c4ffe2;
}

.toggle-description {
  margin-top: 1rem;
  color: #98ecbb;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  transition: color 0.3s;
}

.toggle-description:hover {
  color: #c4ffe2;
}

.book-description-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.book-description-wrapper.open {
  max-height: 300px;
  opacity: 1;
}

.book-description {
  background: rgba(255, 255, 255, 0.05);
  padding: 0.6rem;
  border-radius: 8px;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #f2f2f2;
  margin-top: 0.5rem;
  white-space: pre-wrap;
}
